.App {
  text-align: center;
  position: relative;
  background-color: rgb(199, 222, 230);
}

/* .App-logo {
  height: 69vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
} */
/* .App-body {
  background-color: rgb(199, 222, 230);

} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #a4dded;
}

/* Navbar.css */

.navbar{
  background-color: #a4dded;
  color: rgb(231, 133, 133);
  text-align: center;
  padding: 10px;

}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block; /* Make the list items display inline */
  width: 100%; /* Ensure the list items span the full width */
}



.navbar-menu a:hover {
  color: #007bff; /* Change the color on hover */
}

.nav-item{
  float: left;
  width: 33.33%;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
